$overlay-1: hsla(0deg, 0%, 0%, 7%);
$overlay-1: hsla(0deg, 0%, 0%, 14%);
$overlay-1: hsla(0deg, 0%, 0%, 21%);

$text-accent: hsla(0deg, 0%, 100%, 100%);
$text-primary: hsla(0deg, 0%, 100%, 80%);
$text-secondary: hsla(0deg, 0%, 100%, 60%);
$text-ghost: hsla(0deg, 0%, 100%, 40%);

$background: hsla(0deg, 0%, 0%, 100%);
